<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

  <tbody>
    <% @articles.each do |article| %>
      <%= accordion do |accordion| %>
        <%= accordion.pane article.article_name do %>
          <table class="table table-striped">
            <tr>
              <td><%= link_to article.id, article_path(article) %></td>
              <td><%= article.article_name %></td>
              <td><%= article.description %></td>
              <td><%= article.user_id %></td>
              <td><%=l article.created_at %></td>
              <td>
                <%# article.photos.each do |photo| %>
                  <%= link_to image_tag(article.photos.first.image_url(:thumb)) %>
                <%# end %>
              </td>  
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_article_path(article), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            article_path(article),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>     
          </table>
        <% end %>
      <% end %>
    <% end %>
  </tbody>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_article_path,
            :class => 'btn btn-primary' %>

<% @articles.each do |article| %>
<ul class="nav nav-tabs">
  <li><a href="#link" data-toggle="tab"><%= article.id %></a></li>
  <li><a href="#name" data-toggle="tab"><%= article.article_name %></a></li>
  <li><a href="#description" data-toggle="tab">Description</a></li>
  <li><a href="#photo" data-toggle="tab">Photo</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="link"><%= link_to article.id, article_path(article) %></div>
  <div class="tab-pane active" id="name"><%= article.article_name %></div>
  <div class="tab-pane" id="description"><%= article.description %></div>
  <div class="tab-pane" id="photo"><%= link_to image_tag(article.photos.first.image_url(:thumb)) %></div>
</div>
    <% end %>